.triangle-topright {
    border-top: 50px solid red;
    border-left: 50px solid transparent;
}
.fixed-rectangle {
    background-color: #ffffff;
    border: 1px solid #dadada;
    margin-bottom: 7px;
}
.event-text{
    font-size: 18px;
    margin: 15px 0px 15px 18px;
}