<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="params"
            label="JGLOBAL_FIELDSET_DISPLAY_OPTIONS"
    >
        <field
                name="max_events"
                type="number" default="10"
                label="Max aantal evenementen:"
                description="Maximaal aantal evenementen in de lijst."
                step="1"
        />
        <field
                name="empty_events"
                type="textarea"
                label="Geen evenement bericht:"
                default="Momenteel geen evenementen."
                description="Standaard bericht wanneer er geen evenementen zijn"
        />
        <field
                name="timezone_events"
                type="timezone"
                default="Europe/Amsterdam"
                label="Tijdzone:"
                description="Kies de tijdzone van uw locatie."
        />
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                validate="rules"
                filter="rules"
                component="com_event"
                section="component"
        />
    </fieldset>
</config>